NEXT_PUBLIC_APP_URL=https://shoply-three.vercel.app/
NEXT_PUBLIC_SUPABASE_URL=https://ynzytipauqihrjtqkybl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inluenl0aXBhdXFpaHJqdHFreWJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxNzQ0MTMsImV4cCI6MjA3ODc1MDQxM30.xtXtMkRi1123Fa2MT9Ki3fIqb3ZVvtycmd7dIAAbX0k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inluenl0aXBhdXFpaHJqdHFreWJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzE3NDQxMywiZXhwIjoyMDc4NzUwNDEzfQ.cgiVZKfn3crYLptBjDjlDNd4OBhPKNjGWx3eNsW6UD0
DATABASE_URL=https://ynzytipauqihrjtqkybl.supabase.co